<<<<<<< HEAD

/* .App{
    font-family: cursive;
} */

.App h1{
    font-family: 'Poppins', sans-serif;
}

.App h2{
    font-family: 'Poppins', sans-serif;
}

.App h3{
    font-family: 'Poppins', sans-serif;
}

.App h4{
    font-family: 'Poppins', sans-serif;
}

.App h5{
    font-family: 'Poppins', sans-serif;
}

.App h6{
    font-family: 'Poppins', sans-serif;
=======

/* .App{
    font-family: cursive;
} */

.App h1{
    font-family: 'Poppins', sans-serif;
}

.App h2{
    font-family: 'Poppins', sans-serif;
}

.App h3{
    font-family: 'Poppins', sans-serif;
}

.App h4{
    font-family: 'Poppins', sans-serif;
}

.App h5{
    font-family: 'Poppins', sans-serif;
}

.App h6{
    font-family: 'Poppins', sans-serif;
>>>>>>> 0b96a5fc907bded82facbd27f754a029d6d4b2cb
}