
/* .App{
    font-family: cursive;
} */

.App h1{
    font-family: 'Poppins', sans-serif;
}

.App h2{
    font-family: 'Poppins', sans-serif;
}

.App h3{
    font-family: 'Poppins', sans-serif;
}

.App h4{
    font-family: 'Poppins', sans-serif;
}

.App h5{
    font-family: 'Poppins', sans-serif;
}

.App h6{
    font-family: 'Poppins', sans-serif;
}